    <section class="well articleSummary">
        <div class="row">
            <img class="col-md-4 img-responsive" src="./images/blogimages/7.png" />
            <div class="col-md-8 articleDetails">
                <h1>Deep Think Lab Blog Engine - Introduction</h1>
                <p>As a developer it’s important to stay up to date with current technology.  So I decided that I would build   a blog engine using the latest and greatest tools and techniques for the Microsoft .Net stack.</p>
            </div>
        </div>
        <div class="row articleLinks">
            <span class="col-md-2">Matthew Zamora</span>
            <span class="col-md-2">6/29/2015</span>
            <span class="col-md-2">Development</span>
            <span class="col-md-2">read more</span>
        </div>
    </section>

    <section class="well articleSummary">
        <div class="row">
            <img class="col-md-4 img-responsive" src="~/images/blogimages/scottwills.jpg" />
            <div class="col-md-8 articleDetails">
                <h1>Deep Think Lab Blog Engine – Connecting to GitHub.</h1>
                <p>I already had an account set up on Github.com so all I needed to do was create a new repository and clone it to my desktop.</p>
            </div>
        </div>
        <div class="row articleLinks">
            <span class="col-md-2">Matthew Zamora</span>
            <span class="col-md-2">6/29/2015</span>
            <span class="col-md-2">GitHub</span>
            <span class="col-md-2">read more</span>
        </div>
    </section>

    <section class="well articleSummary">
        <div class="row">
            <img class="col-md-4 img-responsive" src="~/images/blogimages/hydrant1.jpg" />
            <div class="col-md-8 articleDetails">
                <h1>Deep Think Lab Blog Engine – ASP.Net 5.0</h1>
                <p>If you haven’t noticed Microsoft has been changing things up pretty drastically here of late.  They have open sourced a lot of code, made version of office that run on the iOS and Android.   Heck they have even introduced a new hardware platform called Hololens.</p>
            </div>
        </div>
        <div class="row articleLinks">
            <span class="col-md-2">Matthew Zamora</span>
            <span class="col-md-2">6/29/2015</span>
            <span class="col-md-2">ASP.Net 5.0</span>
            <span class="col-md-2">read more</span>
        </div>
    </section>


