<!DOCType html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deep Thing Lab Blog</title>
</head>
<body>
    <nav>
        <a>
            <img alt="Deep Think Lab Logo" src="" />
        </a>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
    </nav>

    <section>
            <img src="" />
                <h1>Deep Think Lab Blog Engine - Introduction</h1>
                <p>As a developer it’s important to stay up to date with current technology.  So I decided that I would build   a blog engine using the latest and greatest tools and techniques for the Microsoft .Net stack.</p>
            <span>Matthew Zamora</span>
            <span>6/29/2015</span>
            <span>Development</span>
            <span>read more</span>
    </section>

    <section>
            <img src="" />
                <h1>Deep Think Lab Blog Engine – Connecting to GitHub.</h1>
                <p>I already had an account set up on Github.com so all I needed to do was create a new repository and clone it to my desktop.</p>
            <span>Matthew Zamora</span>
            <span>6/29/2015</span>
            <span>GitHub</span>
            <span>read more</span>
    </section>

    <section>
            <img src="" />
                <h1>Deep Think Lab Blog Engine – ASP.Net 5.0</h1>
                <p>If you haven’t noticed Microsoft has been changing things up pretty drastically here of late.  They have open sourced a lot of code, made version of office that run on the iOS and Android.   Heck they have even introduced a new hardware platform called Hololens.</p>
            <span>Matthew Zamora</span>
            <span>6/29/2015</span>
            <span>ASP.Net 5.0</span>
            <span>read more</span>
    </section>

    <form>
        <input type="text" placeholder="Enter Keywords" />
        <input type="submit" value="Go" />
    </form>
    <ul>
        <li>
            <img src="" />
            <a href="#">Post Title</a>
        </li>
        <li>
            <img src="" />
            <a href="#">Post Title</a>
        </li>
    </ul>
    <footer>
        <nav>
            
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            
        </nav>
        <p>&copy; 2015 - Deep Think Lab</p>
    </footer>
</body>
</html>