
    <div class="well blogEntry">
        <article>
            <h1>Deep Think Lab Blog Engine - Introduction</h1>
            <img id="blogImage" src="~/images/blogImages/bluetech1.jpg" />

            <p>As a developer it’s important to stay up to date with current technology.  So I decided that I would build   a blog engine using the latest and greatest tools and techniques for the Microsoft .Net stack.</p>
            <p>I am going to use target process to manage the software project.  This is the same software that we use at work and I would be nice to be a lot more comfortable with it.  I will set up two public views, one for the backlog and another for the current sprint.</p>
            <p>
                Add Link to Target process public views
                https://tauboard.com/v/428fc4c78809354b407e347ba5a4bc1b (kanban board)
            </p>

            <p>
                For source code management I am going to use Git. Git has been popular for some time and its time that I become familiar with it.
                https://github.com/Zamoramm/DeepThinkLabBlogEngine
            </p>

            <p>
                For the website itself I will be using Asp.Net 5.0.  If comes with a long list of new items to help build websites.  Here is a list of some of the features that I will be using
            </p>

            <ul>
                <li>NPM</li>
                <li>Bower</li>
                <li>Gulp</li>
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>Bootstrap</li>
                <li>Nuget</li>
                <li>New Asp.net Project Structure</li>
                <li>Entity Framework 7</li>
                <li>xUnit tests</li>
                <li>Dependency Injection</li>
            </ul>
            <p>I am sure there are others that I will use, but this basic list should serve as a good place to start.</p>
            <p>Now that I have covered the basics it’s time to get the ball rolling!</p>
        </article>
        <div id="blogEntryLinks" class="row articleLinks">
            <span class="col-md-2">Matthew Zamora</span>
            <span class="col-md-2">7/15/2015</span>
            <span class="col-md-2">Development</span>
            <span class="col-md-2">&nbsp;</span>
        </div>
</div>
